# .env.example
#Nombre o IP del servidor de DB
DB_HOST=localhost
#Nombre de laDB
DB_NAME=SGLAB
DB_USER=usurio_db
DB_PASSWORD=password_db
DB_MODELS="General Motors","TMC MC9 Crussader II","Mercedes-Benz O 303"


#Variables de REPO
GIT_HUB_REPO=

#Variables del sistema

#Admin password por defecto
ADMIN_PWD="1234"
